<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <% include ../partials/linkTitle %>
            </header>
            <section class="ContentSection">
                <h2 class="ContentSection__title">Create a poll</h2>
                <p class="ContentSection__text removeIfJavaScriptEnabled">
                    If you would like to add more than the provided, please read the guide below first.
                </p>
                <form
                    action="/create-room"
                    method="POST"
                    class="QuestionForm"
                    enctype="application/x-www-form-urlencoded"
                >
                    <fieldset class="QuestionForm__fieldset">
                        <legend class="QuestionForm__legend">
                            Enter a question to ask to your students
                        </legend>

                        <label for="question" class="QuestionForm__label">
                            Polling question (required)
                        </label>
                        <input
                            type="text"
                            name="question"
                            id="question"
                            placeholder="What is your opinion on dinosaurs?"
                            class="QuestionForm__input Input"
                            required="required"
                        >
                    </fieldset>
                    <fieldset class="QuestionForm__fieldset">
                        <legend class="QuestionForm__legend">
                            Options (at least 4)
                        </legend>
                        <label for="option-1" class="QuestionForm__label">Option 1 (required)</label>
                        <input
                            type="text"
                            name="option-1"
                            id="option-1"
                            placeholder="Your option goes here"
                            class="QuestionForm__input Input"
                            required="required"
                        >

                        <label for="option-2" class="QuestionForm__label">Option 2 (required)</label>
                        <input
                            type="text"
                            name="option-2"
                            id="option-2"
                            placeholder="Your option goes here"
                            class="QuestionForm__input Input"
                            required="required"
                        >
                        <label for="option-3" class="QuestionForm__label">Option 3 (required)</label>
                        <input
                            type="text"
                            name="option-3"
                            id="option-3"
                            placeholder="Your option goes here"
                            class="QuestionForm__input Input"
                            required="required"
                        >

                        <label for="option-4" class="QuestionForm__label">Option 4 (required)</label>
                        <input
                            type="text"
                            name="option-4"
                            id="option-4"
                            placeholder="Your option goes here"
                            class="QuestionForm__input Input"
                            required="required"
                        >
                        <% Array.from({length: ioc || 0}, (_, x) => x).forEach(function(num) { %>
                            <label for="option-<%= num + 5 %>" class="QuestionForm__label">Option <%= num + 5 %></label>
                            <input
                                type="text"
                                name="option-<%= num + 5 %>"
                                id="option-<%= num + 5 %>"
                                placeholder="Your option goes here"
                                class="QuestionForm__input Input"
                            >
                        <% }) %>
                    </fieldset>

                    <button type="submit" class="Button Button--submit QuestionForm__button">Start the poll</button>
                </form>
                <form
                    action="/increment-option-fields/<%= ioc %>"
                    method="POST"
                    class="IncrementOptionsForm"
                    enctype="application/x-www-form-urlencoded"
                >
                    <label for="incrementOptionsByAmount" class="removeIfJavaScriptEnabled">
                        1. Enter amount of options you want extra.<br>
                        2. Do this before filling in the options.<br>
                        3. You'd best not reload the page. This will add extra fields.
                    </label>
                    <input
                        type="number"
                        required="required"
                        placeholder="1"
                        value="1"
                        min="1"
                        max="4"
                        name="incrementOptionsByAmount"
                        id="incrementOptionsByAmount"
                        class="Input Input--small removeIfJavaScriptEnabled"
                    >
                    <button type="submit" class="Button Button--action">
                        Add more options
                    </button>
                </form>
            </section>
        </main>
        <script src="../../../../scripts/featureDetection.js"></script>
        <script src="../../../../scripts/index.js"></script>
    </body>
</html>