<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../../../../css/score.css">
        <meta http-equiv="refresh" content="10">
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <% include ../partials/linkTitle %>
            </header>
            <section class="ContentSection">
                <h2 class="ContentSection__title">
                    Live score for: <%= room.question %>
                </h2>
                <ul class="ScoreList Row Row--wrap Row--center Row--align-end">
                    <% room.options.forEach(function(option) { %>
                        <li class="ScoreList__option ScoreListOption">
                            <i
                                class="ScoreListOption__graph-bar"
                                style="height: <%= option.currentCount * 10 %>px"
                                data-answer-id="<%= option.answerId %>"
                            ></i>
                            <h3 class="ScoreListOption__title">
                                <%= option.title %>
                            </h3>
                            <span class="ScoreListOption__amount">
                                <%= option.currentCount %>
                            </span>
                        </li>
                    <% }) %>
                </ul>
                <footer class="ContentSection__footer">
                    <a href="/" class="Link">Create another poll!</button>
                </footer>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.2.0/dist/socket.io.js"></script>
        <script src="../../../../scripts/featureDetection.js"></script>
        <script src="../../../../scripts/score.js"></script>
    </body>
</html>